	*{
		margin:0px; 
		padding:0px;
	}
	.menubar{
		color:red;
		line-height:24px;
		margin-left: 12px;
		font-size: 19px;
		font-color:gray;
		padding:15px;

	}
	.img{
		margin-left:22px;
		width:22px;
		padding-right: 3px;
	}